<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <title>Budget App</title>
  </head>
  <body>
    <header>
      <h1>Budgets</h1>
      <div class="actions">
        <%= yield_content :header_links %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
