<form action="/budgets/new" method="post">
    <label for="budget_name">Name</label>
    <input type="text" name="budget_name" value="">
    <button type="submit" name="add_budget">Create</button>
</form>
