<form action="/budgets/new" method="post">
    <label for="budget-name">Name</label>
    <input type="text" name="budget-name" value="">
    <button type="submit" name="add-budget">Create</button>
</form>
