<% content_for :header_links do %>
  <a class="add" href="/budgets/new">+ New Budget</a>
<% end %>

<ul>
  <% @budgets.each do |name, expense| %>
    <a href="/budgets/<%= name %>">
      <li>
        <h3><%= name %></h3>
        <p class="">Remaining: $<%= remaining_budget(expense) %></p>
        <p class="">Category: $<%= expense[0][:category] %></p>
      </li>
    </a>
  <% end %>
</ul>
